body {
}

.grid-container {
  max-width: 1920px; /* Set your maximum width here */
  margin: 0 auto 5em 0; /* Center the container horizontally */
}

.margins {
  margin-left: 10em;
  margin-right: 10em;
}

.title {
  margin-top: 6em;
  margin-bottom: 14rem;
}

/*
 * This works as long as the first line fits on one line
 * e.g., if you zoom in so that the first line brakes the
 * the positioning of the rectangles gets messed up...
*/
.rectangle {
  position: relative;
  width: 9rem;
  height: 3rem;
  background: #a4f374;
  border-radius: 1.5rem;
  top: 14rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(5em, 1fr));
  grid-gap: 1rem;
}

.grid > div {
  background: rgba(0, 0, 0, 0.1);
  /*border-radius: 10px; /* Adjust the value to control the roundness of the corners */
  /*overflow: hidden; /* Ensure the image is clipped to the rounded corners */
}

.grid > div::before {
  content: "";
  padding-bottom: 80%;
  display: block;
}

.grid > div {
  /* ... */
  display: grid;
}
.grid > div::before,
.grid > div > img {
  grid-area: 1 / 1 / 2 / 2;
}

.grid > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px; /* Adjust the value to control the roundness of the corners */
}

/* Media query for small screens */
@media (max-width: 768px) {
  .navbar {
    display: none;
  }
  .grid {
    grid-template-columns: 1fr;
    /* Change to one-column layout */
  }
}

.grid > div:not(.project) {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Additional styles for text-centered div */
}

.center-div {
  display: grid;
  place-items: top;
}

.limit-width {
  width: 67%;
  margin-bottom: 0;
}

.button-23 {
  background-color: #ffffff;
  padding: 0.5rem 1rem;
  border: 0.1rem solid #222222;
  border-radius: 1.2rem;
  color: #222222;
  cursor: pointer;
  margin: 0;
  outline: none;
  justify-content: center;
}

.button-23:hover {
  text-decoration: none;
  background-color: #131313;
  color: #ffffff;
}

h1 {
  font-family: "Clash Display", sans-serif;
  font-size: 5em;
  font-weight: 400;
}

h2 {
  font-family: "Clash Display", sans-serif;
  font-size: 1.5 em;
  font-weight: 500;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: #515151;
}
