.container {
  display: flex;
  align-items: center;
}

.position-top {
  position: fixed;
  top: 2rem;
}

.navbar {
  right: 0;
  width: 100%;
  /*background-color: #999;*/
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  height: 100%;
}

li {
  flex: 1;
  text-align: center;
}

a {
  /*display: block;*/
  color: #111;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

a:hover {
  /* TODO: add hover effect*/
  /*color: #555;*/
  text-decoration: underline;
}

p {
  margin: 0;
}

.button-23 {
  padding: 0.5rem 1rem;
  background-color: #ffffff;
  border: 0.1rem solid #222222;
  border-radius: 1.2rem;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  margin: 0;
  outline: none;
}

.button-23:hover {
  text-decoration: none;
  background-color: #131313;
  color: #ffffff;
}

p,
a {
  font-family: "Clash Display", sans-serif;
  font-size: 1em;
  font-weight: 500;
}
