
* {
  margin: 0;
}
.nav-container {
  
  align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: wrap;
  height: 60px;
  justify-content: space-between;
  max-width: 1440px;
  overflow: visible;
  padding: 0;
  position: relative;
  max-width: 100%;
  z-index: 1;
    
}

.button {
  padding: 8px 16px;
  border-radius: 16px;
  border: solid;
  border-width: 1px;
}

.button:hover {
  background-color: #000;
  color: #fff;
  -webkit-transition: background 300ms; /* For Safari */
  transition: background 300ms; 
}

.li {
  
  
  border-radius: 8px;
  padding: 6px;
  display: flex;
  justify-items: center;
}

.ig {
  
  border-radius: 8px;
  padding: 4px;
  display: flex;
  justify-items: center;

}


.ig:hover {
  color: #fff;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);

}

.li:hover{
 color: #fff;
 background-color: #5881fa;
}

a {
  color: #131313;
  text-decoration: none;

  
}

a:hover {
  cursor: pointer;
}


p {
  margin: 0;
}

@font-face {
  font-family: neueMont;
  src: url(/neuemontrealregular.otf);
}

p,
a {
  font-family: 'neueMont', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  font-weight: 300;
}

.logo:hover {
 cursor: pointer;
}


/* Media query for small screens */
@media (max-width: 768px) {

 .hide-small {
  display: none;
 }


}
