/*
----------------------------------------------------------------------------------

Umeå universitet
Institutionen för informatik
Kurs: CSS-baserad webbdesign

----------------------------------------------------------------------------------
*/
/*
----------------------------------------------------------------------------------

Namn: Anna Jarebro

----------------------------------------------------------------------------------
*/
html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*----------------------------------------USABILITY BACKGROUND--------------------------------*/

#bg {
    position: fixed;
    left: 0;
    top: 30vh;
    height: 70vh;
    width: 100vw;
    background: url(Img/omni-bg-op.jpg);
    background-size: auto 100%;
    /* background-repeat: repeat-x;*/
    background-position: 0 0;
    z-index: -1;
}

/*-----------------------------------------BODY--------------------------------*/
body {

    font-family: acumin-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
    background: #fff;
    color: #263238;


}

body#body_index {
    height: 100vh;
    line-height: 1.6;
    overflow: hidden;
}

/*-------------------------------TEXT SIZE AND STYLE ----------------------*/
h1,
h2,
a {
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.1em;
}



h1 {

    font-size: 1.4em;
    color: #263238;
    padding-bottom: 2em;
}

.intro_h1 {

    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4vh;
    padding-top: 3em;


}

.h1_inverted {
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5vh;
    padding-top: 3em;
    color: #f8f9f9;
}

h2 {
    font-size: 1.2em;
    font-weight: 100;
}

h3 {
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;


}

p {
    font-size: 0.9em;
    text-align: justify;
}

.center_p {
    text-align: center;
}


a {

    font-size: 1em;
    color: #FFF;
}





/*---------------------------------HEADER & PROJECT NAV---------------------------------------*/

/* Two column header*/

header {
    display: flex;
    padding: 30px;
}

#logo {


    font-weight: 400;
    font-style: normal;
    font-size: 1.3em;
    color: #263238;

}

#logo_inverted {


    font-weight: 400;
    font-style: normal;
    font-size: 1.3em;
    color: #f8f9f9;

}

#logo,
nav {
    flex: 50%;
    overflow: hidden;
    padding-bottom: 0;
}

nav {
    text-align: right;
}

nav ul {

    padding-top: 0.4em;

}

/* Vertical list*/
nav ul li {
    display: inline;
}

/* Style of navigation links*/
nav a {
    color: #85929E;
    padding: 0 1em;
    font-size: 1em;
}


nav a:hover {
    text-decoration: underline;
}

.active#active_white {
    color: #FFF;
}

.active {
    color: #263238;
}

.active:hover {
    text-decoration: none;
    cursor: default;
}




/*------------------------PROJECTS----------------------------------------------*/
/*---------Template for all projects --------*/
/*-----------creating 2-colum grid grid------*/
.mall_project {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2vh;
    padding: 3em;
}


/*-----------special for usability to greate solid background for rows------*/
section#main_usability {
    padding: 0;
}

#main_usability {
    grid-gap: 0;

}


/*-----------makes intro into one column------*/
.intro {
    grid-column: span 2;
    text-align: center;
    margin: auto;
}

.intro img {
    width: 100%;
}


/*-----------MAIN CONTENT IN PROJECTS------*/
.content {
    grid-column: span 2;
    margin: auto;

}

.content_text {
    grid-column: span 2;
    margin: auto;
    max-width: 40rem;
    padding: 4em;
}



.project_h2 {
    text-align: center;
    padding: 1em;

}

.text_project {
    margin: auto;
    max-width: 20em;
    text-align: left;
    padding-bottom: 2em;

}

.img_project {
    margin: auto;

}

.img_project img {
    width: 80vh;
}



.next_project {
    grid-column: span 2;
    text-align: center;
    padding-right: 2em;

}

#next {
    font-size: 1em;
    color: #212121;
}

#next_inverted {
    font-size: 1em;
}

/*-----------ONLY FOR OUTDOOR WEBSITE PROJECT------*/

#outdoor_redesign {
    margin: auto;
}

#outdoor_redesign img {
    width: 150vh;
}



.text_wider {

    max-width: 30em;

}

.user_hd {
    font-weight: 600;
}


/*-----------ONLY FOR AI ROBOT PROJECT------*/

body#body_inverted {
    background-color: #18233d;
    color: #F8F9F9;
}

#img_scenario {
    padding-bottom: 5em;
}

.empty {
    grid-column: span 2;
    height: 50vh;

}


/*-----------video in airobot------*/
video {
    grid-column: span2;
    max-width: 150vh;
    height: auto;
    padding: 6em;


}

/*-----------ONLY FOR USABILITY WEBSITE PROJECT------*/



.rows {
    grid-column: span 2;
    display: flex;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.9);
}

#into_usability {
    background-color: rgba(255, 255, 255, 0.9);
    margin: 0;
    padding: 2em 0 3em 0;


}


#extro_usability {
    background-color: rgba(255, 255, 255, 1);
    margin: 0;
    padding: 3em 0 5em 0;

}

#extro_small {
    display: none;
}


#next_proj_inverted {
    color: #f8f9f9;
}



#personal_note {
    width: 70vh;
    padding-top: 15em;
    font-style: italic;
}

#goal {
    padding: 0em 0em 7em 0em;
    max-width: 40em;
    text-align: center;
}

#mockup_p {
    padding-bottom: 7em;
}



.img_project_wf {}

.img_wireframe {
    padding: 2em 0;
}

.list {
    font-size: 0.9rem;
    padding-left: 1.3rem;
    padding-top: 1rem;
}

.list li {
    padding: 0.1rem;
}

.back_nav {
    display: none;
}

/*Small devices (landscape phones, less than 1024px)*/

@media (max-width: 1024px) {
    
    header {
    padding: 0 2em;
}
    
    .intro_h1 {

    padding-top: 0em;
}
    

.h1_inverted {
   
    padding-top: 0em;
   
}

    /*-----------USABILITY-----------------*/
    #extro_usability {
        display: none;
        background-color: rgba(255, 255, 255, 1);
        margin: 0;

    }

    #extro_small {
        display: block;
        background-color: rgba(255, 255, 255, 1);
        margin: auto;

    }

    .rows {

        display: block;
        background-color: rgba(255, 255, 255, 0.9);
        background-color: rgba(255, 255, 255, 0.9);
    }

    .text_project {
        margin: auto;
        max-width: 100%;
        text-align: left;
        padding: 2em 2em;

    }
   
    

    /*-----------OUTDOOR-----------------*/
    .mall_project {
        display: block;
        padding: 3em;
    }

    .img_project img {
        width: 100%;
    }

    #outdoor_redesign img {
        width: 100%;
    }

    .content_text {
        padding: 0em;
    }

    /*-----------AI ROBOT PROJECT------*/

 


    /*-----------video in airobot------*/
    video {
        grid-column: span2;
        max-width: 100%;
        height: auto;
        padding: 2em 0em;


    }
    .list_nav {display: none;}
    .back_nav {
        display: block;
        text-align: left;
    
    }
    .back_white {color: white;}


#personal_note {
    width: 100%;
   
}
    
    }



