
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
      padding: 0 10em;
  }
/*-----------FONTS-------------*/


p,h1,h2,h3,a
{font-family: europa, sans-serif;
font-weight: 400;
font-style: normal;
color: #111111;}

p{
    font-size: 1rem;
    color: #353535;
}

.p-bold{
    font-weight: 700;
}


/*-----------32px, use for intro text on index and project categories-------------*/
h1{
    font-size: 2rem;
    padding-top: 35vh;
    padding-bottom: 3em;
}

.hi-bold{
    font-weight: 700;
}

.h1-gray {
    font-weight: 700;
    color:#DADADA;
    padding-top: 5em;
    padding-bottom: 2em;
}

/*-----------20px, use for project headings -------------*/

h2{
    font-size: 1.25rem;
    font-weight: 700;
    color: #353535;
}


/*-----------NAVIGATION-------------*/


  /* Main menu settings */
#centeredmenu {
    clear:both;
    float:left;
    margin:0;
    padding:1.5em 0;
    width:100%;
    z-index:1000; /* This makes the dropdown menus appear above the page content below */
    position:relative;
 }
 
 /* Top menu items */
 #centeredmenu ul {
    margin:0;
    padding:0;
    list-style:none;
    float:right;
    position:relative;
    right:50%;
 }
 #centeredmenu ul li {
    margin:0 0 0 1em;
    padding:0;
    float:left;
    position:relative;
    left:50%;
    top:1px;
 }
 #centeredmenu ul li a {
    display:block;
    font-weight: 700;
    margin:0;
    padding:.6em .5em .4em;
    line-height:1em;
    text-decoration:none;
 }


 /* Submenu items */
 #centeredmenu ul ul {
    display:none; /* Sub menus are hiden by default */
    position:absolute;
    font-weight: 700;
    top:2em;
    left:0;
    right:auto; /*resets the right:50% on the parent ul */
    width:10em; /* width of the drop-down menus */
 }
 #centeredmenu ul ul li {
    left:auto;  /*resets the left:50% on the parent li */
    margin:0; /* Reset the 1px margin from the top menu */
    clear:left;
    width:100%;
 }
 #centeredmenu ul ul li a,
 #centeredmenu ul li.active li a,
 #centeredmenu ul li:hover ul li a,
 #centeredmenu ul li.hover ul li a { /* This line is required for IE 6 and below */
    font-size:.8em;
    font-weight: bold;
 
    text-transform: uppercase;
    font-weight:normal; /* resets the bold set for the top level menu items */
    columns: #111111;
    line-height:1.4em; /* overwrite line-height value from top menu */

 }
 /* ----------ADDS BACKGROUND ON SUBNAV
 #centeredmenu ul ul li a:hover,
 #centeredmenu ul li.active ul li a:hover,
 #centeredmenu ul li:hover ul li a:hover,
 #centeredmenu ul li.hover ul li a:hover { /* This line is required for IE 6 and below 
   
 }

 
 /* Flip the last submenu so it stays within the page */
 #centeredmenu ul ul.last {
    left:auto; /* reset left:0; value */
    right:0; /* Set right value instead */
 }
 
 /* Make the sub menus appear on hover */
 #centeredmenu ul li:hover ul,
 #centeredmenu ul li.hover ul { /* This line is required for IE 6 and below */
    display:block; 
    /* Show the sub menus */
 }

 #centeredmenu li:hover{
     text-decoration: underline;
 }
  


  /*-----------INTRO SECTION------------*/

  .intro{
      text-align: center;
       
  }

  button {
    background-color: #FFFFFF; 
   
    color: #111111;
  font-size: 0.9em;
    border: 2px solid #111111;
    padding: 6px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 32px;
  }
  button a {
      font-weight: 700;
      text-decoration: none;
      
      padding: 8px 0;
  }


  
  button:hover{
    background-color: #111111;
    color: white;
  }
  button a:hover{
    color: white;
  }

 /*--------------------PROJECTS--------------------*/

  .pr-h1 {
      text-align: center;
  }
 /*--------------------With thext use 1fr 44em, padding right 16em--------------------*/
  .proj-rg{
    
      padding-bottom: 2em;
  

     
     
  }
  .proj-lf{
 
    padding-bottom: 2em;

}
  .proj-img{
      margin: auto;
      position: relative;
      height: 28em;
      width: 44em;
      
  }


 
 .proj-img img {
      display: block;
      background-size: cover;
      height: 100%;
      width: 100%;
  }







.link-proj{
    display: block;
}

 /*----------HOVER IMG OVERLAY---------*/
 .proj-img-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
  }

.proj-img:hover{
    background: linear-gradient(rgba(0,0,0,0.9),rgba(0, 0, 0, 0.9));
    background-size: cover;
    cursor: pointer;
  
}

.proj-img-overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.proj-img-overlay:hover {
    opacity: 1;
}

.proj-img-overlay:hover > * {
    transform: translateY(0);
}

.h2-overlay{
    color: #ffffff;
}

 /*--------------------ABOUT--------------------*/
 
#about{
  margin-top: 60vh;
    height: 45em;
    
    
}

.about-text{
    float: left;
    width: 50%;
    padding-right: 20%;
    height: 45em;
  
    
}
.about-text p {
    padding-bottom: 1em;
}

.about-img {
    float: right;
    height: 45em;
    width: 50%;

}

.about-img img {
    width: 80%;
    height: auto;

}
 
.h1-hello{
    padding: 50% 0 1em 0;
    
   
    
}

.credits{
    padding-top: 30em;
    padding-bottom: 1em;
    text-align: center;

}
.back-to-top{
    padding-top: 30em;
    text-align: center;
}
.back-to-top a {
    text-decoration: none;
}

.back-to-top.pad {
    padding-bottom: 10em;
}
 /*-------------------------------------------------------------------------------------------------------------------
 --------------------------------------------------------------------------------------------------
 ---------------------------------PROJECT MARGING-----------------------------------------
 -----------------------------------------------------------------------------
 -------------------------------------------------------------------------------*/
.project-wrapper{
    padding: 0 10em;

}
 /*-------------------------------------------------------------------------------------------------------------------
 --------------------------------------------------------------------------------------------------
 ----------------------------------PROJECTS------------------------------------------
 -----------------------------------------------------------------------------
 -------------------------------------------------------------------------------*/


.head img{
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
    object-fit: cover;
 
}
.head video{
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
    object-fit: cover;
 
}

.summary{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 6em 0;
}


.header-text{
    padding-bottom: 15em;
}
.summary ul li{
    list-style-type: none; 
    font-family: europa, sans-serif;
font-weight: 400;
font-size: 0.9em;
font-style: normal;
color: #565656;
}


  .content-li{
    position: relative;
    left:30%;
      display: block;
      justify-self: center;
      
  } 

.content ul li{
list-style-position: inside;
font-family: europa, sans-serif;
font-weight: 700;
font-style: normal;
color: #565656;
padding: 0.5em 0;

}


.content ul{
   padding: 0 0 4em 0;
  
}

.content.tighter p {
    max-width: 60%;
    margin: auto;
}
.learning-li ul li{
    font-family: europa, sans-serif;
    list-style-position: outside;
  font-weight: 400;
  padding: 0.5em 0;
  max-width: 40em;
}

.h2-proj{
    padding-bottom: 1em;
}

.h2-proj.small{
    font-size: 1em;
}


.h2-center{
text-align: center;
padding: 1em 0;
}
.h2-center.pad10{
    padding-top: 10em;
}

.content img {
    
    display: block;
    margin: auto;
    width: 100%;
    height: 30em;
    object-fit: contain;
}

.content p {
    padding: 2em 0;
}

.learnings{
    padding: 0 15em;
}
.learnings h2 {
    padding-bottom: 3em;
}


 /*-------------------------------------------------------------------------------------------------------------------
 --------------------------------------------------------------------------------------------------
 ----------------------------------------------------------------------------
 -----------------------------------------------------------------------------
 -------------------------------------------------------------------------------*/
 /*-----------MOBILE VERISION------------*/
  
  @media (max-width: 767.98px) { 
      
    body{
        padding: 0 0;
    }

    .proj-rg{
        display: grid;
        grid-template-columns: 1fr;
        padding-right: 0;
        padding-bottom: 0;
        padding-bottom: 1em;
       
    }
    .proj-lf{
        display: grid;
        grid-template-columns: 1fr;
        padding-left: 0;
        padding-bottom: 0;
       
    }

  .proj-text {
     display: none;
  }

  .proj-img img {
    display: block;
    background-size: cover;
    height: auto;
    width: 100%;
}
.proj-img{width: 100%;
    padding: 0;
}

.proj-img-overlay{
  display: none;
  }
  .proj-img:hover{
    background: none;

  
}

#about{
    background-color: teal;
    height: 40em;
    
}

.about-text{
    float: none;
    width: 100%;
    padding-right: 0;
    height: 40em;
  
    
}
.about-text p {
    padding-bottom: 1em;
}

.about-img {
    float: none;

    height: 40em;
    width: 100%;
    object-fit: cover;

}
/*
.about-img img{
    display: none;
}
*/
.h1-hello{
    padding: 1em 0 1em 0;
    

}


/*------------------------------OMNI----------------*/
.project-wrapper{
    padding: 0;
}
.summary{
    display: none;
}
  }