* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0 10em;
}



.index {
    padding: 0;

}



/*-----------FONTS-------------*/


h1,
h2,
h3,
a {
    font-family: 'Spartan', sans-serif;
    font-style: normal;
    color: #000;
    font-weight: 400;
}


p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1rem;
    color: #424242;
    font-weight: 400;
    letter-spacing: 0.2pt;
    line-height: 1.8;
}

.p-bold {
    color: rgb(19, 19, 19);
}

.spartan {
    font-family: 'Spartan', sans-serif;
    text-transform: lowercase;
    color: #4f4f4f;
    letter-spacing: 0.5pt;
}

.h2-quote {
    color: #A19FC5;
}

.h2-italia {
    font-family: 'Italiana', serif;
    font-size: 2em;
}

.align-center {
    text-align: center;
}


/*-----------32px, use for intro text on index and project categories-------------*/
h1 {
    font-size: 1.9rem;
    padding-top: 35vh;
    padding-bottom: 3em;
}

.hi-bold {
    font-weight: 700;
}

.big-serif {
    font-size: 14vw;
    font-family: 'Italiana', serif;


}

.big-header {
    margin: auto;

}

.start {
    position: absolute;
    left: 16px;
    top: 16px;
}

.end {
    position: absolute;
    right: 16px;
    top: 16px;
}

.center {
    top: 16px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

}


h2.metadata {
    font-size: 0.625rem;
    letter-spacing: 7%;
    text-transform: uppercase;
    font-weight: 400;

}



/*-----------20px, use for project headings -------------*/




#show-ultrawide {
    display: none;
}

/*-----------NAVIGATION-------------*/


/* Main menu settings */
#centeredmenu {
    clear: both;
    float: left;
    margin: 0;
    padding: 1.5em 0;
    width: 100%;
    z-index: 1000;
    /* This makes the dropdown menus appear above the page content below */
    position: relative;
}

/* Top menu items */
#centeredmenu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
    position: relative;
    right: 50%;
}

#centeredmenu ul li {
    margin: 0 0 0 1em;
    padding: 0;
    float: left;
    position: relative;
    left: 50%;
    top: 1px;
}

#centeredmenu ul li a {
    display: block;
    font-size: 14px;
    color: #C8CCD2;
    margin: 0;
    padding: .6em 2em .4em;
    line-height: 1em;
    text-decoration: none;
}

#centeredmenu ul li a:hover {
    color: #000;
}

#centeredmenu ul li a.active {
    color: #000;
}




/*-----------INTRO SECTION------------*/


.b-pad16 {
    padding-bottom: 16em;
}

.pad16 {
    padding-top: 16em;
}


.btn1 {
    background-color: #fff;
    border: 1px solid #000;
    padding: 6px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 32px;
    transition-duration: 0.4s;

}


.btn1:hover {
    background: #1c1c1c;
    color: #fff;
}



.btn {
    margin: 6px;
    background-color: #fff;
    border: none;
    padding: 6px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.4s;
}





.beige {
    background-color: #fff;
}



button.btn:hover {
    background-color: #242424;
    color: #fff;
}





.btn-c p {
    padding-bottom: 4em;

}

.btn-c.pad {
    padding: 10em;

}

.btn.active {
    background-color: #1c1c1c;
    color: #fff;
}


.pad4 {
    padding-bottom: 4em;
}

.pad-vh50 {
    padding-top: 50vh;
}

.pad-vh40 {
    padding-top: 40vh;
}


#intro-p {
    margin: auto;
    max-width: 40em;


}




.filterDiv {
    background-color: #ffffff;
    padding: 2em;
    margin-top: 4em;
    display: none;
    border-style: solid;
    border-width: 1px;
}

.left-align {
    text-align: right;
}

.show {
    display: block;
}

.container {
    overflow: hidden;
}

.read-more a {
    position: relative;
    padding: 8px 16px;
    top: 0;
    transition: top ease 0.2s;
    text-decoration: none;
}

.read-more:hover a {
    top: -10px;
    border: solid;
    border-width: 1px;
    cursor: pointer;


}





/*--------------------PROJECTS--------------------*/



.phone-lable {
    display: none;
}

/*----------------------------------------*/
.proj {
    margin: auto;
    padding-bottom: 2em;
    max-width: 800px;



}

.proj-img {
    margin: auto;
    position: relative;


}

.proj-img img {
    display: block;
    background-size: cover;
    height: 100%;
    width: 100%;
    border-radius: 8px;
}


.link-proj {
    display: block;
}

/*----------HOVER IMG OVERLAY---------*/
.proj-img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}



.proj-img-overlay>* {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.proj-img-overlay:hover {
    opacity: 1;
}

.proj-img-overlay:hover>* {
    transform: translateY(0);
}

.h2-overlay {
    color: #000;
    font-family: 'Spartan', sans-serif;
    text-transform: uppercase;
    font-weight: 400;

}

/*--------------------GROWTH LOG--------------------*/

#myBtnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;

}

/*--------------------ANIMATIONS --------------------*/
.animation-pop-up {

    animation: pop-up 0.6s ease-out;

   


}

.animation-delay {
    animation-delay: 0.2s;
}

@keyframes pop-up {
    0% {
        opacity: 0;
        transform: translateY(1em)
    }

    100% {
        opacity: 1;
        transform: none
    }

}




/*--------------------ABOUT NEW --------------------*/



.hero-bg {
    margin: auto;

}



.hero-bg img {

    width: 100%;
    max-width: 1600px;
    border-radius: 16px;

}

#about-intro {
    padding-top: 20vh;
    padding-bottom: 4em;
    margin: auto;
    max-width: 932px;

}

.about-img img {
    width: 40vw;
    max-width: 1600px;
    border-radius: 16px;
}

.white {
    color: #fff;
}

#about-intro p {
    max-width: 40em;
}

#grid-wrapper {
    max-width: 932px;
    margin: auto;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 218px);
    gap: 20px;


}


.grid-item img {
    width: 218px;
    height: 203px;

}




.credits {
    padding-top: 30em;
    padding-bottom: 1em;

}

.credits p {
    font-size: 0.8rem;
}

.back-to-top {
    padding-top: 30em;
    padding-bottom: 5em;
}

.back-to-top a {
    text-decoration: none;
}


.back-to-top#backhome {
    padding-top: 4em;
}

.back-to-top#backhome a {
    color: #DADADA;
}

.back-to-top#backhome a:hover {

    color: #111111;
}



/*---------------------------------------------------------------------------------
 ---------------------------------Initiatives-----------------------------------------
 -------------------------------------------------------------------------------*/
.img-header {
    padding-top: 4em;
}

.img-header img {
    display: block;
    width: 12em;
    margin: auto;

}

/*-------------------------------------------------------------------------------------------------------------------
 --------------------------------------------------------------------------------------------------
 ---------------------------------PROJECT MARGING-----------------------------------------
 -----------------------------------------------------------------------------
 -------------------------------------------------------------------------------*/
.project-wrapper {
    padding: 0 6vw;
    max-width: 1600px;
    margin: auto;

}

/*-------------------------------------------------------------------------------------------------------------------
 --------------------------------------------------------------------------------------------------
 ----------------------------------PROJECTS------------------------------------------
 -----------------------------------------------------------------------------
 -------------------------------------------------------------------------------*/
.content.tighter {
    max-width: 800px;
    margin: auto;
}

.head img {
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;

}


.summary {
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    padding: 6em 0em;
}

.header-text {
    padding-bottom: 6em;
}

.summary ul li {
    list-style-type: none;
    font-family: 'Spartan', sans-serif;
    text-transform: lowercase;
    font-weight: 400;
    font-size: 0.9em;
    font-style: normal;
    line-height: 10px;
    padding-top: 1rem;


}


.content-li {
    position: relative;
    left: 30%;
    display: block;
    justify-self: center;

}

.content ul li {
    list-style-position: inside;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #04142C;
    padding: 0.5em 0;

}


.content ul {
    padding: 0 0 4em 0;

}



.learning-li ul li {
    font-family: 'Spartan', sans-serif;
    list-style-position: outside;
    text-transform: lowercase;
    font-weight: 400;
    padding: 1em 0;
    max-width: 40em;
    margin: auto;
    color: #4F4F4F;
}



.h2-proj {
    font-size: 1.4em;
    font-weight: 400;
}


.h2-center {
    text-align: center;
    padding: 1em 0;
}

.pad10 {
    padding-top: 6em;
}

.pad6-bottom {
    padding-bottom: 6em;
}

.content img {

    display: block;
    margin: auto;
    width: 100%;
    height: 30em;
    object-fit: contain;
}

.content p {
    padding: 2em 0;
}






/*-------------------------------------------------------------------------------------------------------------------
 --------------------------------------------------------------------------------------------------
 ------------------------------SLIDE SHOW MOGO----------------------------------------------
 -----------------------------------------------------------------------------
 -------------------------------------------------------------------------------*/

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

.mySlides.first {
    display: block;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #111111;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #111111;
    font-family: europa, sans-serif;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #ffffff;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 0 2px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}



.cpanalysis p b.skype {
    color: #2067BC;
}

.cpanalysis p b.wechat {
    color: #34A50F;
}

.cpanalysis p b.messenger {
    color: #7C2AC4;
}

.cpanalysis p b.miro {
    color: #E8CF42;
}

/*-------------------------------------------------------------------------------------------------------------------
 --------------------------------------------------------------------------------------------------
 ------------------------------ 1668 px for portrait ipad pro----------------------------------------------
 -----------------------------------------------------------------------------
 -------------------------------------------------------------------------------*/
@media (max-width: 1669px) {
    .project-wrapper {
        padding: 0;
    }

}


/*-----------MOBILE VERISION------------*/


@media (max-width: 900px) {



    .hero-bg img {

        width: 90%;

    }

    .start {

        top: 64px;
    }

    .end {
        top: 64px;
    }

    .center {
        top: 64px;
    }

    .side-wrapper {
        display: block;
        padding: 0 0;

    }


    .phone-lable {
        display: block;
    }

    body {
        padding: 0 0;

    }


    #centeredmenu ul li a {
        padding: .6em 1em .4em;

    }

    .proj-img {
        height: 28em;
        width: 100vw;
    }

    .proj-img img {
        object-fit: cover;
        height: 100%;
        width: 100%;

    }

    #grid-wrapper {

        display: none;

    }

    .smallscreen-hide {
        display: none;
    }



    #about-intro {
        padding: 6em 1em;

    }

    #about-intro h2 {
        text-align: center;
    }


    .learning-li {
        padding-left: 1em;
    }

    .place-left {
        justify-self: center;
    }

    .place-right {
        justify-self: center;
    }

    #about-intro h2 {
        padding: 1em;
    }

    .about-img {
        padding-bottom: 4em;
    }

    .about-img img {
        width: 90%;
    }

    .h1-hello {
        padding: 1em 0 1em 0;

    }

    .learning-li ul li {

        max-width: 100vw;
    }

    .content ul {
        padding: 0 0 0 0;

    }

    .learnings {
        padding: 0 0;
    }

    .content-li {

        left: 0%;

    }

    .content.tighter {
        padding: 1em;

    }

    .content.tighter p {
        max-width: 100%;
    }




    /*------------------------------OMNI----------------*/
    .project-wrapper {
        padding: 0;
    }

    .summary {
        display: none;
    }



}